html{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(246, 246, 246);
    margin: 0;
    padding: 0;
    border: 0;
}
#icon{
    margin-right: 30%;
}
#cab{
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 3%;
    align-items: center;
    margin: 0 auto;
    margin: 1%;
    font-family : "HelveticaNeue",Helvetica,Arial,sans-serif;
}
#cab > div:nth-child(n + 8){
    margin-right: 46%;
}
#cab a{
    color: black;
    letter-spacing: 0.10em;
    text-decoration: none;
}
#produto{
    min-height: 100%;  
    min-height: 70vh;
    margin: 0 auto;
    width: 90%; 
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}
#canome{
    margin-top: 0;
}
#compra{
    /*background-color: rgb(227, 115, 40);*/
    background-color: #000;
    color: #eee;
    border: 1px solid #eee;
    border-radius: 20px;
    font: bold 22px arial;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    border-style: outset;
    height: 40px;
    width: 60%;
    margin-left: 39%;
    box-shadow: 3px 4px 4px rgba(90, 90, 90, 0.77);
    -webkit-box-shadow: 3px 4px 4px rgba(90, 90, 90, 0.77);
    -moz-box-shadow: 3px 4px 4px rgba(90, 90, 90, 0.77);
}
#calcados{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 1100px;
    margin: 0 auto;
    /*margin-top: 10%;*/
    align-items: center;
}
#calcados > div:nth-child(n){
    width: 250px;
    height: 355px;
    border-left: 0.5px solid rgba(90, 90, 90, 0.77);
    border-top: 0.5px solid rgba(90, 90, 90, 0.77);
    border-radius: 10px;
    /*border-style: outset;*/
    box-shadow: 3px 4px 4px rgba(90, 90, 90, 0.77);
    -webkit-box-shadow: 3px 4px 4px rgba(90, 90, 90, 0.77);
    -moz-box-shadow: 3px 4px 4px rgba(90, 90, 90, 0.77);
}
#calcados > div:nth-child(n) > a:nth-child(n){
    text-decoration: none;
    color: black;
}
#calcados > div:nth-child(n) > a:nth-child(n) > img:nth-child(n){
    max-width: 100%;
}
#calcados > div:nth-child(n) > a:nth-child(n) > p:nth-child(n){
    font-size: 20px;
    margin: 0;
    text-align: center;
}
#calcados > div:nth-child(n) > a:nth-child(n) > h4:nth-child(n){
    max-height: 42px;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#login{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 35%;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
#log{
    width: 190px;
    height: 190px;
}
#continuar{
        margin-top: 10%;
        margin-left: 24%;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
}
#login > div:nth-child(n) > form:nth-child(n) > a:nth-child(n){
    font-size: 15px;
}
#frame{
    width: 100%;
    height: 330px;
    position: relative;
    bottom: 0;
    margin: 0;
    margin-top: 175px;
    border: 0;
    padding: 0;
    background-color: #000;
}
.prod{
    position: static;
    height: 30px;
    margin: 5%;
    margin-left: 10%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
hr{
    height: 2px;
    color: rgb(136, 20, 20);
    background-color: #000;
}
#btnmais{
    width: 68px;
    height: 68px;
    background-color: rgb(246, 246, 246);
    border-radius: 50px;
    cursor: pointer;
    border: 0;
}
svg:hover{
    width: 65px;
    height: 65px;
}
#final{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 10px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
#adicionar{
    background-color: rgba(252, 250, 250, 0);
    border: 0;
    cursor: pointer;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}